.modal-header
	button.close(type="button", ng-click="close()") ×
	h4.modal-title.font-bold Add node to a cinegraph
.modal-body
	p.golden-color.text-center(ng-if="mycinegraphs == undefined")
		| You must be logged !
		a.golden-btn.btn-sm.btn-default.btn-block(href='/register') Create an account to create your own cinegraph !
	p(ng-if="mycinegraphs.length == 0")
		| You have not created any cinegraph yet.
	form(ng-if="mycinegraphs.length > 0")
		.radio.i-checks(ng-repeat="cine in mycinegraphs")
			label
				input(type='radio', ng-model="selectedCinegraph.c", ng-value="cine", name="selectedCinegraph")
				i
				|  {{cine.title}}
		input.btn.btn-success.pull-right(type="submit", ng-click="addCurrentNodeToCinegraph()", value="Add")
	h5(style="clear:both;", ng-if="mycinegraphs.length != 0") Or create a new one:
	h5(style="clear:both;", ng-if="mycinegraphs.length == 0") Create a new one:
	form
		.form-group
			label Name
			input.form-control(type='text', placeholder='"Cinegraph Sci-Fi" or "Cinegraph Thriller"', ng-model="cinegraphTitle")
		input.btn.btn-success.pull-right(type="submit", ng-if="mycinegraphs.length >= 0", ng-click="createAndAddToCinegraph()", value="Create and add")
		input.btn.btn-success.pull-right(disabled="", ng-if="mycinegraphs == undefined", ng-click="createAndAddToCinegraph()", value="Create and add")
		button.btn(type="submit", ng-if="mycinegraphs.length >= 0", ng-click='close()') Cancel
		button.btn(disabled="", ng-if="mycinegraphs == undefined", ng-click='close()') Cancel
