.modal-header
	button.close(type="button", ng-click="close()") ×
	h4.modal-title.font-bold Edit a cinegraph
.modal-body
	form
		.form-group
			label Name
			input.form-control(type='text', placeholder='Enter a new name here...', ng-model="cinegraphTitle")
		input.btn.btn-success.pull-right(type="submit", ng-click="editCinegraphTitle()", value="Edit")
		button.btn(ng-click='close()') Cancel