section.vbox
	include ./header.jade
	section
		section.hbox.stretch
			aside#nav.aside-lg.bg-black.hidden-print.hidden-xs
				section.vbox
					section.w-f.scrollable
						.slim-scroll(data-height="$('content').height()", data-disable-fade-out='true', data-distance='0', data-size='10px', data-railopacity='0.2')
							.clearfix.wrapper.dk.nav-user.hidden-xs
								.row
									.col-sm-12.avatar-center-xs
										span.thumb.pull-left.avatar.m-r
											img.dker(src="images/a0.png")
											i.on.md.b-black
										span.hidden-nav-xs.clear
											span.block.m-t-xs
												div(ng-if='currentUser')
													strong.font-bold.text-lt {{currentUser.firstName}}
													span.text-muted.text-xs.block Cinephile
												div(ng-if='currentUser == undefined')
													strong.font-bold.text-lt Invité
													span.text-muted.text-xs.block Novice
								.row.m-t-sm.hidden-nav-xs
									.col-sm-12.text-center
										a.btn.btn-s-md.btn-info.btn-sm(href='/mycinegraph')
											|See my cinegraphs
											i.i.i-arrow-right.m-l-xs
					footer.footer.hidden-xs.no-padder.text-center-nav-xs
						a.btn.btn-icon.icon-muted.btn-inactive.m-l-xs.m-r-xs(data-target='#nav', data-toggle='class:nav-xs')
							i.i.i-circleleft.text
								i.i.i-circleright.text-active
			section#content
				section.vbox(ng-controller='FriendsController')
					section.panel.panel-default
							header.panel-heading
								.input-group.text-sm
									input.input-sm.form-control(type='text', placeholder='Search', ng-model="userToFind.username")
									|                         
									.input-group-btn
										button.btn.btn-sm.btn-default.dropdown-toggle(type='button', ng-click="searchUser()")
											| Search 
							|                     
							ul.list-group.alt(ng-show="!searchBool")
								li.list-group-item(ng-repeat="friend in currentFriends | filter: userToFind")
									.media
										span.pull-left.thumb-sm
											img.img-circle(src='images/a0.png', alt='John said')
										|                           
										.pull-right.text-success.m-t-sm
											i.fa.fa-circle
										|                           
										.media-body
											div
												a(href='#')
												b {{friend.username}} 
												| ({{friend.firstName}} {{friend.lastName}})
							span(ng-show="loading")
								| Loading
							ul.list-group.alt(ng-show="searchBool")
								span(ng-show="!usersToAdd.length")
									| Found nothing !
								li.list-group-item(ng-repeat="user in usersToAdd")
									.media
										span.pull-left.thumb-sm
											img.img-circle(src='images/a0.png', alt='John said')
										|                           
										p.pull-right.text-success.m-t-sm
											button.btn.btn-sm.btn-info(ng-click="addFriend(user.username)")
													i.fa.fa-plus.text
													|     
													span.text Add
										|                           
										.media-body
											div
												a(href='#')
												b {{user.username}} 
												| ({{user.firstName}} {{user.lastName}})
							.col-lg-6.col-md-offset-3
									span(ng-repeat="alert in alerts")
										.alert.alert-success(ng-show="alert.success")
											button.close(type='button', data-dismiss='alert') &times;
											i.fa.fa-ok-sign
											strong Done!
											|  {{alert.msg}}
										.alert.alert-warning(ng-show="alert.error")
											button.close(type='button', data-dismiss='alert') &times;
											i.fa.fa-ok-sign
											strong Woopsie... 
											|  {{alert.msg}}

								
