header.bg-white.header.header-md.navbar.navbar-fixed-top-xs.box-shadow
	.navbar-header.aside-md.dk
		a.btn.btn-link.visible-xs(data-toggle='class:nav-off-screen,open', data-target='#nav,html')
			i.fa.fa-bars
		a.navbar-brand(href='/')
			img.m-r-sm(src='images/logoRoueLibre.png', alt='logo', style='height:35px')
		a.btn.btn-link.visible-xs(data-toggle='dropdown', data-target='.user')
			i.fa.fa-cog

	form.navbar-form.navbar-left.m-t.m-l-n-xs.hidden-xs(role='search', ng-controller='TypeaheadCtrl', ng-submit='submitSearchQuery(true)')
		.form-group
			.input-group
				span.input-group-btn
					button.btn.btn-sm.bg-white.b-white.btn-icon(type='submit')
						span.glyphicon.glyphicon-search
				input(type='hidden', name='id', value="{{asyncSelected.thisId}}")
				.input-group-btn
					button.btn.bg-white.b-white.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
						span.dropdown-label
							| Movies
						span.caret
					ul.dropdown-menu.dropdown-select.dropdownSearch
						li.active(ng-click="OnItemClick('movie')")
							a(href='#')
								input(type='radio', name='type', checked='')
								| Movies
						li(ng-click="OnItemClick('person')")
							a(href='#')
								input(type='radio', name='type')
								| Persons
				input.form-control.no-border.input-sm.search-top-menu(type='text', placeholder='Search for a {{selectedItem}}...', autocomplete='off', ng-model='asyncSelected',
					typeahead='query as query.name for query in getLocation($viewValue)',
					typeahead-wait-ms=350,
					typeahead-loading='loadingLocations',
					typeahead-min-length=2)
	a.hidden-sm.hidden-xs.btn.btn-icon.b-2x.btn-info.btn-rounded.right-menu.btn-sm(data-target='#sidebar', data-toggle='class:show')
		i.fa.fa-bars
	ul.nav.navbar-nav.navbar-right.m-n.hidden-xs.nav-user.user
		li.hidden-sm.hidden-xs(ng-controller='notificationsController')
			a.dropdown-toggle(href='#', data-toggle='dropdown')
					i.i.i-chat3
					span.badge.badge-sm.up.bg-danger.count 0
				section.dropdown-menu.aside-xl.animated.flipInY
					section.panel.bg-white
						.panel-heading.b-light.bg-light
							strong
								| You have 
								span.count 0
								|  notifications
						.list-group.list-group-alt
						.panel-footer.text-sm
							a.pull-right(href='#')
								i.fa.fa-cog
							a(href='#notes', data-toggle='class:show animated fadeInRight') See all the notifications
		li.dropdown
			a.dropdown-toggle(href='#', data-toggle='dropdown')
				span.thumb-sm.pull-left.avatar.m-r
					img.dker(src="images/a0.png")
				span(ng-if='currentUser')
					| {{currentUser.firstName}}
				span(ng-if='currentUser == undefined')
					| Invité
				b.caret 
			ul.dropdown-menu.animated.fadeInRight
				li(ng-if='currentUser')
					a(href='/profile') Profile
				li(ng-if='currentUser')
					a(href='/friends') Friends
				li(ng-if='currentUser')
					a(href='#') Notifications
						span.badge.bg-danger.pull-right 0
				li(ng-if='currentUser')
					a(href='/mycinegraph') My Cinegraphs
				li.divider
				li
					a(ng-click='logout()' ng-if='currentUser') Logout
					a(href='/signin' ng-if="currentUser == undefined") Sign in
	a.hidden-md.hidden-xs.hidden-sm.btn.btn-s-md.btn-info.btn-sm.right-menu(ng-if='currentUser', href='/mycinegraph', ng-show="!currentCinegraph")
		|See my cinegraphs
		i.i.i-arrow-right.m-l-xs
	a.hidden-xs.btn.btn-s-md.btn-info.btn-sm.right-menu(href='/', ng-show="currentCinegraph")
		|Go to Discovery mode
		i.i.i-arrow-right.m-l-xs
