header.bg-white.header.header-md.navbar.navbar-fixed-top-xs.box-shadow
	.navbar-header.aside-md.dk
		a.btn.btn-link.visible-xs(data-toggle='class:nav-off-screen,open', data-target='#nav,html')
			i.fa.fa-bars
		a.navbar-brand(href='/')
			img.m-r-sm(src='images/cinelogo1.png', alt='logo')
		a.btn.btn-link.visible-xs(data-toggle='dropdown', data-target='.user')
			i.fa.fa-cog
	form.navbar-form.navbar-left.m-t.m-l-n-xs.hidden-xs(role='search', ng-controller='TypeaheadCtrl', action="/index", method='GET')
		.form-group
			.input-group
				span.input-group-btn
					button.btn.btn-sm.bg-white.b-white.btn-icon(type='submit')
						span.glyphicon.glyphicon-search
				input(type='hidden', name='id', value="{{asyncSelected.thisId}}")
				.input-group-btn
					button.btn.bg-white.b-white.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
						span.dropdown-label
							| Movies
						span.caret
					ul.dropdown-menu.dropdown-select.dropdownSearch
						li.active(ng-click="OnItemClick('movie')")
							a(href='#')
								input(type='radio', name='type', checked='')
								| Movies
						li(ng-click="OnItemClick('person')")
							a(href='#')
								input(type='radio', name='type')
								| Persons
				input.form-control.no-border.input-sm.search-top-menu(type='text', placeholder='Search for a {{selectedItem}}...',		autocomplete='off', ng-model='asyncSelected',
					typeahead='query as query.name for query in getLocation($viewValue)',
					typeahead-wait-ms=350,
					typeahead-loading='loadingLocations',
					typeahead-min-length=2)
	a.btn.btn-icon.b-2x.btn-info.btn-rounded.active.right-menu(data-target='#nav, #sidebar', data-toggle='class:nav-xs, show')
		i.fa.fa-bars
	ul.nav.navbar-nav.navbar-right.m-n.hidden-xs.nav-user.user
		li.dropdown
			a.dropdown-toggle(href='#', data-toggle='dropdown')
				span.thumb-sm.pull-left.avatar.m-r
					img.dker(src="images/a0.png")
				span(ng-if='currentUser')
					| {{currentUser.firstName}}
				span(ng-if='currentUser == undefined')
					| Invité
				b.caret 
			ul.dropdown-menu.animated.fadeInRight
				li(ng-if='currentUser')
					a(href='/profile') Profile
				li(ng-if='currentUser')
					a(href='/friends') Friends
				li(ng-if='currentUser')
					a(href='/mycinegraph') My Cinegraphs
				li.divider
				li
					a(ng-click='logout()' ng-if='currentUser') Logout
					a(href='/signin' ng-if="currentUser == undefined") Sign in
