div.container
  div.row
    div.col-sm-6.col-md-4.col-md-offset-4(ng-controller="cinegraphController")
      h1.text-center.login-title Check your details below:
      div(ng-if='currentUser')
        div.signup-wall
          ul.user-details
            li Username ---> {{toto.username}}
              li Email    ---> {{testuser.email}}
                li First Name ---> {{testuser.firstName}}
                  li Last Name ---> {{testuser.lastName}}
                    li mdr {{testuser}}
                      a(href='/signout', class='text-center new-account') Sign Out
