section.vbox.full-height
	include ./header.jade
	section.full-height
		section.hbox.stretch.full-height
			aside#nav.aside-xl.bg-black.hidden-print.hidden-xs.full-height
				section.vbox
					//section.scrollable
						//.slim-scroll(data-height="$('content').height()", data-disable-fade-out='true', data-distance='0', data-size='10px', data-railopacity='0.2')
							//.clearfix.wrapper.dk.nav-user.hidden-xs
								.row
									.col-sm-12.avatar-center-xs
										span.thumb.pull-left.avatar.m-r
											img.dker(src="images/a0.png")
											i.on.md.b-black
										span.hidden-nav-xs.clear
											span.block.m-t-xs
												div(ng-if='currentUser')
													strong.font-bold.text-lt {{currentUser.firstName}}
													span.text-muted.text-xs.block Cinephile
												div(ng-if='currentUser == undefined')
													strong.font-bold.text-lt Invité
													span.text-muted.text-xs.block Novice
								.row.m-t-sm.hidden-nav-xs
									.col-sm-12.text-center
										a.btn.btn-s-md.btn-info.btn-sm(href='/mycinegraph')
											|See my cinegraphs
											i.i.i-arrow-right.m-l-xs
					include ./node-details.jade
			section#content.full-height(style="background-color:black;")
				section.hbox.stretch.full-height
					section.full-height
						#graph(cinegraph="")
			include ./filter-pane.jade
