extends layout

block header
	section.vbox
		header.bg-white.header.header-md.navbar.navbar-fixed-top-xs.box-shadow
			.navbar-header.aside-md.dk
				a.btn.btn-link.visible-xs(data-toggle='class:nav-off-screen,open', data-target='#nav,html')
					i.fa.fa-bars
				a.navbar-brand(href='')
					// img.m-r-sm(src='', alt='')
					span.hidden-nav-xs Cinemateq
				a.btn.btn-link.visible-xs(data-toggle='dropdown', data-target='.user')
					i.fa.fa-cog
			form.navbar-form.navbar-left.input-s-lg.m-t.m-l-n-xs.hidden-xs(role='search')
				.form-group
					.input-group
						span.input-group-btn
							button.btn.btn-sm.bg-white.b-white.btn-icon(type='submit')
								// i.fa.fa-search
								span.glyphicon.glyphicon-search
						input.form-control.input-md.no-border(type='text', placeholder='Search for a movie...')
			ul.nav.navbar-nav.navbar-right.m-n.hidden-xs.nav-user.user
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown')
						span.thumb-sm.pull-left.glyphicon.glyphicon-user
							// i.fa.fa-user
						if user
							| #{user.firstName}
						else
							| Invité
						b.caret 
					ul.dropdown-menu.animated.fadeInRight          
						li
							a(href='') Profile        
						li
							a(href='') My Cinegraphs
						li.divider
						li
							a(href='/signout') Logout
		section
			section.hbox.stretch
				aside#nav.aside-md.bg-black.hidden-print.hidden-xs
					section.vbox
						section.w-f.scrollable
							.slim-scroll(data-height='500px', data-disable-fade-out='true', data-distance='0', data-size='10px', data-railopacity='0.2')
								.clearfix.wrapper.dk.nav-user.hidden-xs
									.dropdown
										a.dropdown-toggle(href='#', data-toggle='dropdown')
											span.thumb.avatar.pull-left.m-r.glyphicon.glyphicon-user  
												// i.on.md.b-black            
											span.hidden-nav-xs.clear
												span.block.m-t-xs
													if user
														strong.font-bold.text-lt #{user.firstName}
														b.caret 
														span.text-muted.text-xs.block Cinephile
													else
														strong.font-bold.text-lt Invité
														b.caret 
														span.text-muted.text-xs.block Novice
										ul.dropdown-menu.animated.fadeInRight.m-t-xs
											li
												span.arrow.top.hidden-nav-xs
												if user
													a(href='/signout') Logout
												else
													a(href='/signin') Sign in
								div(ng-show="currentNode.person")
									h3 {{currentNode.person.name}}
									// p Born in {{currentNode.person.born}}
									h4(ng-show="currentNode.rolesAndMovies") Played in :
									ul
										li(ng-repeat="r in currentNode.rolesAndMovies")
											<b>{{r.movie.title}}</b> as <em>{{r.role}}</em>
				section#content
					section.vbox
						section.scrollable.wrapper
							// p.h4 This is a blank page
							#graph(cinegraph="")
