doctype html
html.app(ng-app='cinegraphApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= "C I N E M A T E Q"
    link(rel='stylesheet', href='/stylesheets/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/animate.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/icon.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/font.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/app.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/searchSpinner.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-rating.css', type='text/css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.color-2.1.2.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/slimscroll/jquery.slimscroll.min.js')
    script(src='/javascripts/angular.min.js')

    //- Cinegraph module

    //- Dependencies
    script(src='/javascripts/three.min.js')
    script(src="/javascripts/threex.rendererstats.js")
    script(src="/javascripts/Stats.min.js")
    script(src="/javascripts/threejs_antialias/EffectComposer.js")
    script(src="/javascripts/threejs_antialias/MaskPass.js")
    script(src="/javascripts/threejs_antialias/RenderPass.js")
    script(src="/javascripts/threejs_antialias/ShaderPass.js")
    script(src="/javascripts/threejs_antialias/CustomShaders.js")
    script(src='/javascripts/tween.js')
    script(src='/javascripts/StackBlur.js')

    //- Module
    script(src='/cinegraph/animation.js')
    script(src='/cinegraph/camera.js')
    script(src='/cinegraph/cinegraph.js')
    script(src='/cinegraph/common.js')
    script(src='/cinegraph/input.js')
    script(src='/cinegraph/path.js')
    script(src='/cinegraph/positioning.js')
    script(src='/cinegraph/render.js')
    script(src='/cinegraph/texture.js')
    //- script(src='/javascripts/cinegraph-min.js')


    script(src='/javascripts/home.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/javascripts/search.js')
    script(src='/javascripts/auth.js')
    script(src='/javascripts/friends.js')
    script(src='/javascripts/notifications.js')
    script(src='/javascripts/searchResult.js')
    script(src='/javascripts/trackballcontrols.js')
    script(src='/javascripts/ui-bootstrap-tpls-0.12.1.js')
    script(src='/javascripts/google-analytics.js')
    script(src="/javascripts/mycinegraph.js")
    script(src="/javascripts/bootstrap-rating.min.js")
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/actions.js')
    script(src='/javascripts/base64.js')
    script(src='/javascripts/feedback.js')
    body
      ng-view
    base(href='/')
