doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/animate.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/icon.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/font.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/app.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/searchSpinner.css', type='text/css')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.js')
    script(src='javascripts/app.js')
    script(src='javascripts/slimscroll/jquery.slimscroll.min.js')
    script(src='javascripts/app.plugin.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
    script(src='javascripts/home.js')
    script(src='javascripts/search.js')
    script(src='javascripts/auth.js')
    script(src='javascripts/searchResult.js')
    script(src='javascripts/three.min.js')
    script(src='javascripts/ui-bootstrap-tpls-0.12.1.min.js')
    script(src='javascripts/randomBG.js')
    body(ng-app='cinegraphApp', ng-controller='cinegraphController')
    block content
