section.vbox
	include ./header.jade
	section
		section.hbox.stretch
			aside#nav.aside-lg.bg-black.hidden-print.hidden-xs
				section.vbox
					section.scrollable
						.slim-scroll(data-height="$('content').height()", data-disable-fade-out='true', data-distance='0', data-size='10px', data-railopacity='0.2')
							.clearfix.wrapper.dk.nav-user.hidden-xs
								.row
									.col-sm-12.avatar-center-xs
										span.thumb.pull-left.avatar.m-r
											img.dker(src="users/{{currentUser.username}}.jpg", onerror="this.src='users/default.jpg'")
										span.hidden-nav-xs.clear
											span.block.m-t-xs
												div(ng-if='currentUser')
													strong.font-bold.text-lt {{currentUser.firstName}}
													span.text-muted.text-xs.block Cinephile
												div(ng-if='currentUser == undefined')
													strong.font-bold.text-lt Invité
													span.text-muted.text-xs.block Novice
								.row.m-t-sm.hidden-nav-xs
									.col-sm-12.text-center
										a.btn.btn-s-md.btn-info.btn-sm(href='/')
											|Go to Discovery mode
											i.i.i-arrow-right.m-l-xs
								.row
									.col-sm-12.avatar-center-xs.text-center.golden-color(style="margin-top: 10px;")
										h1 This week's recommandations
			section#content.mycinegraph
				section.hbox.stretch
					section(ng-controller="MyCinegraphCtrl")
						section.vbox
							section.scrollable.padder
								header.row.m-b-md
									div.col-sm-12
										h2.text-black
											| Your cinegraphs
											a.btn.btn-sm.btn-info.btn-rounded.btn-icon.m-l-sm(ng-click="openCreateCinegraphModal()")
												i.fa.fa-plus
								div(ng-if="mycinegraphs.length == 0")
									p You have not created any cinegraph yet. Click on the button above to create one.
								div(ng-repeat= "n in mycinegraphs")
									section.row.m-md(ng-if="!(($index + 1) % 2)")
										section.col-sm-6
											a.btn.btn-default.btn-block(href="/cinegraph/{{n.id}}")
												h4.text-info
													| {{n.title}}
									section.col-sm-6(ng-if="(($index + 1) % 2)")
										a.btn.btn-default.btn-block(href="/cinegraph/{{n.id}}")
											h4.text-info
												| {{n.title}}
			include ./filter-pane.jade
