section.vbox.myCinegraphSingle.full-height
	include ./header.jade
	section.full-height
		section.hbox.stretch.full-height
			aside#nav.aside-lg.bg-black.hidden-print.hidden-xs.full-height
				section.vbox
					section.scrollable
						.slim-scroll(data-height="$('content').height()", data-disable-fade-out='true', data-distance='0', data-size='10px', data-railopacity='0.2')
							.clearfix.wrapper.dk.nav-user.hidden-xs.pos-rlt.on-top
								.row.m-t-sm.hidden-nav-xs.cinegraph-actions
									.col-sm-12.text-center
										h3.h3 {{ currentCinegraph.title }}
											a(ng-click="refreshGraph()")
												i.fa.fa-refresh.cursor-pointer
											a(ng-click="openEditCinegraphTitleModal()")
												i.fa.fa-edit.cursor-pointer
											a(ng-click="openDeleteCinegraphModal()")
												i.fa.fa-trash-o.cursor-pointer
											a(ng-click="openShareCinegraphModal()")
												i.fa.fa-share-alt.cursor-pointer
								//.row.m-t-sm.hidden-nav-xs
									.col-sm-12.text-center
										a.btn.btn-s-md.btn-info.btn-sm(href='/')
											|Go to Discovery mode
											i.i.i-arrow-right.m-l-xs
							include ./node-details.jade
					//footer.footer.hidden-xs.no-padder.text-center-nav-xs
						a.btn.btn-icon.icon-muted.btn-inactive.m-l-xs.m-r-xs(href='#nav', data-toggle='class:nav-xs')
							i.i.i-circleleft.text
								i.i.i-circleright.text-active
			section#content.full-height(style="background-color:black;")
				section.hbox.stretch.full-height
					section.full-height
						#graph(cinegraph="")
			include ./filter-pane.jade
