div.pos-rlt.node-details.text-center(ng-show="currentNode").hidden-nav-xs

	div.bg-shadow-top
		div.h4.m-t
			a(href='#', ng-show="currentNode.type == 'Person'", ng-click="open('lg')")
				{{currentNode.firstname}} {{currentNode.lastname}}
				i.i.i-info.text-lt.m-l-xs(data-toggle="tooltip", data-placement="bottom", title="Click to see more", style="font-size: 16px;")
			a(href='#', ng-show="currentNode.type == 'Movie'", ng-click="open('lg')")
				{{currentNode.title}}
				i.i.i-info.text-lt.m-l-xs(data-toggle="tooltip", data-placement="bottom", title="Click to see more", style="font-size: 16px;")
			.btn-group.m-l-sm(dropdown='', ng-controller="MyCinegraphCtrl")
				button.add-cinegraph-btn.btn.btn-rounded.btn-sm.btn-icon.btn-dark(type='button', ng-click="openAddToCinegraphModal()")
					i.fa.fa-plus.fa-lg
			.btn-group.m-l-xs(dropdown='', ng-click='sendInvitationToRate()')
				button.add-cinegraph-btn.btn.btn-rounded.btn-sm.btn-icon.btn-default.dropdown-toggle.btn-dark(type='button', dropdown-toggle='')
					i.i.i-share.i-lg
		small.text-muted.m-b(ng-show="currentNode.type == 'Person'", ng-repeat="job in currentNode.jobs | limitTo: 3")
			| {{job.name | JobNameFormatter }}
			i.i.i-dot(ng-hide="$last")
		small.text-muted.m-b(ng-show="currentNode.type == 'Movie'", ng-repeat="genre in currentNode.genre")
			| {{genre}}
			i.i.i-dot(ng-hide="$last")

	a(href='#', ng-click="open('lg')")
		div.m-t-lg(ng-show="currentNode.img != true")
			img(src="images/default.jpg")
		div.m-t-lg(ng-show="currentNode.type == 'Person' && currentNode.img == true")
			img(ng-src="images/persons/{{sanitizeFileName(currentNode.fullname)}}.jpg")
		div.m-t-lg(ng-show="currentNode.type == 'Movie' && currentNode.img == true")
			img(ng-src="images/movies/{{sanitizeFileName(currentNode.title + currentNode.released)}}/poster.jpg")

	div.bg-shadow-bottom
		div.col-xs-12.no-padder
			div.row.small.m-n
				div.col-xs-12(ng-show='currentUser == undefined || currentUser && currentCinegraph')
					div.h4.font-bold.text-lt(ng-if="currentNode.globalObjScore >= 0")
						| {{currentNode.globalObjScore}}
					div.h4.font-bold.text-lt(ng-if="currentNode.globalObjScore == undefined")
						| 0
					small.text-muted
						| Objective score
				div.col-xs-6.global-score(ng-show='currentUser && !currentCinegraph')
					div.h4.font-bold.text-lt(ng-if="currentNode.globalObjScore >= 0")
						| {{currentNode.globalObjScore}}
					div.h4.font-bold.text-lt(ng-if="currentNode.globalObjScore == undefined")
						| 0
					small.text-muted
						| Objective score
				div.col-xs-6.text-left-align.no-padder(ng-show='currentUser && !currentCinegraph')
					input#noteObj.rating(type='hidden', data-filled='fa fa-star fa-2x', data-empty='fa fa-star-o fa-2x')
			div.row.small.m-n
				div.col-xs-12(ng-show='currentUser == undefined || currentUser && currentCinegraph')
					div.h4.font-bold.text-lt(ng-if="currentNode.globalLoveScore >= 0")
						| {{currentNode.globalLoveScore}}
					div.h4.font-bold.text-lt(ng-if="currentNode.globalLoveScore == undefined")
						| 0
					small.text-muted
						| Love score
				div.col-xs-6.global-score(ng-show='currentUser && !currentCinegraph')
					div.h4.font-bold.text-lt(ng-if="currentNode.globalLoveScore >= 0")
						| {{currentNode.globalLoveScore}}
					div.h4.font-bold.text-lt(ng-if="currentNode.globalLoveScore == undefined")
						| 0
					small.text-muted
						| Love score
				div.col-xs-6.no-padder.text-left-align(ng-show='currentUser && !currentCinegraph')
					input#noteLove.rating(type='hidden', data-filled='fa fa-heart fa-2x', data-empty='fa fa-heart-o fa-2x')

nav.nav-primary.m-t-xs.hidden-xs.community-element(ng-show="currentUser && !currentCinegraph")
	div.left-panel-title
		span.font-bold Community
	ul.list-group.auto.no-radius.m-b-none.list-group-lg.community-list.no-borders
		li.list-group-item(ng-repeat="sentence in friendsTastes")
			span.pull-left.thumb-sm.avatar
				img.img-circle(src='images/a3.png', alt='...')
				i.on.b-black.bottom
			span.clear
				| {{sentence.sentence}}
				a.btn.btn-rounded.btn-sm.btn-icon.btn-info.m-l-xs.btn-invite-rate(ng-show="sentence.showButton", ng-click="sendInvitationToRate(sentence.friendName)")
					i.fa.fa-hand-o-right
				span(ng-repeat="alert in alerts")
					span.badge.bg-success.m-l-xs(ng-show="alert.success")
						i.fa.fa-check
					span.badge.bg-warning.m-l-xs(ng-show="alert.error")
						i.fa.fa-times
