section.vbox
	include ./header.jade
	section
		section.hbox.stretch
			aside#nav.aside-lg.bg-black.hidden-print.hidden-xs
				section.vbox
					section.w-f.scrollable
						.slim-scroll(data-height="$('content').height()", data-disable-fade-out='true', data-distance='0', data-size='10px', data-railopacity='0.2')
							.clearfix.wrapper.dk.nav-user.hidden-xs
								.row
									.col-sm-12.avatar-center-xs
										span.thumb.pull-left.avatar.m-r
											img.dker(src="users/{{currentUser.username}}.jpg", onerror="this.src='users/default.jpg'")
										span.hidden-nav-xs.clear
											span.block.m-t-xs
												div(ng-if='currentUser')
													strong.font-bold.text-lt {{currentUser.firstName}}
													span.text-muted.text-xs.block Cinephile
												div(ng-if='currentUser == undefined')
													strong.font-bold.text-lt Invité
													span.text-muted.text-xs.block Novice
								.row
									.col-sm-12.avatar-center-xs.text-center.golden-color(style="margin-top: 10px;")
										h1 This week's recommandations
					footer.footer.hidden-xs.no-padder.text-center-nav-xs
						a.btn.btn-icon.icon-muted.btn-inactive.m-l-xs.m-r-xs(data-target='#nav', data-toggle='class:nav-xs')
							i.i.i-circleleft.text
								i.i.i-circleright.text-active
			section#content
				section.vbox
						section.scrollable.bg-white
							.wrapper-lg.bg-light
								.hbox
									aside.aside-md
										.text-center
											img.img-circle.m-b(width="128px", src="users/{{currentUser.username}}.jpg", alt='{{currentUser.username}} pic', onerror="this.src='users/default.jpg'")
									|                   
									aside
										div(ng-if='currentUser')
											h3.font-bold.m-b-none.m-t-none {{currentUser.firstName}} {{currentUser.lastName}}
											|                     
											p {{currentUser.email}}
											|                     
											p
												i.fa.fa-lg.fa-circle-o.text-primary.m-r-sm
												strong Cinephile
										div(ng-if='currentUser == undefined')
											h3.font-bold.m-b-none.m-t-none Invité
											|                     
											p invite@guest.com
											|                     
											p
												i.fa.fa-lg.fa-circle-o.text-primary.m-r-sm
												strong Cinephile
											
										//ul.nav.nav-pills.nav-stacked.aside-lg
											li.bg-light.dk
												a(href='#')
													i.i.i-share.m-r-sm
													|  See my cinegraphs
							|               
							ul.nav.nav-tabs.m-b-n-xxs.bg-light
								//li
									a(data-target="#recommandations", data-toggle='tab') Recommandations
								li
									a(data-target='#activities', data-toggle='tab') Activities
								li.active
									a(data-target='#edit', data-toggle='tab') Edit profile
								li
									a(data-target='#friends', data-toggle='tab') Friends
							|               
							.tab-content
								//#recommandations.panel.tab-pane
									ul.list-group.no-radius.m-b-none.m-t-n-xxs.list-group-lg.no-border
										li.list-group-item
											strong.block Welcome to your profile page !
										//li.list-group-item
											a.thumb-sm.pull-left.m-r-sm(href='#')
												img.img-circle(src='images/a0.png')
											|                       
											a.clear(href='#')
												small.pull-right 3 minutes ago
												strong.block Drew Wllon
												small invited you to be his friend
								|                 
								#activities.panel.tab-pane(ng-controller='ActionsController')
									ul.list-group.no-radius.m-b-none.m-t-n-xxs.list-group-lg.no-border
										li.list-group-item(ng-repeat="action in actions")
											a.thumb-sm.pull-left.m-r-sm(href='#')
												img.img-circle(src='images/a0.png')
											|                       
											a.clear(href='#')
												strong.block {{action.username}}
												small {{action.message}}
								|                 
								#edit.tab-pane.wrapper-lg.active
									.form-group
										form.form-horizontal
											.form-group
												label.col-sm-3.control-label(for='image-up') Profile picture:
												.col-sm-2
													input.filestyle(type='file', file-model="myFile", accept='image/*', data-icon='false', data-classbutton='btn btn-default', data-classinput='form-control inline v-middle input-s')
												.col-sm-2
													button.btn.btn-sm.btn-primary(type='submit', ng-click="uploadFile(currentUserToEdit.username)") Upload
											.line.line-dashed.b-b.line-lg.pull-in
										form.form-horizontal
											.form-group
												label.col-sm-3.control-label Username:
												.col-sm-5
													input.form-control(type='text', ng-model='currentUserToEdit.username', disabled='disabled')
											.line.line-dashed.b-b.line-lg.pull-in
											|                     
											.form-group
												label.col-sm-3.control-label Firstname:
												.col-sm-5
													input.form-control(type='text', ng-model='currentUserToEdit.firstName')
											.line.line-dashed.b-b.line-lg.pull-in
											|                     
											.form-group
												label.col-sm-3.control-label Lastname:
												.col-sm-5
													input.form-control(type='text', ng-model='currentUserToEdit.lastName')
											.line.line-dashed.b-b.line-lg.pull-in
											|                     
											.form-group
												label.col-sm-3.control-label(for='input-id-1') Email:
												.col-sm-5
													input#input-id-1.form-control(type='email', ng-model='currentUserToEdit.email')
											.line.line-dashed.b-b.line-lg.pull-in
											|                     
											//.form-group
												label.col-sm-3.control-label Password:
												.col-sm-5
													input.form-control(type='password', ng-model='currentUserToEdit.password')
											//.line.line-dashed.b-b.line-lg.pull-in
											|                     
											.form-group
												.col-sm-offset-3.col-sm-5
													button.btn.btn-sm.btn-primary(type='submit', ng-click='updateProfile(currentUserToEdit)') Update
								#friends.panel.tab-pane
									section.vbox(ng-controller='FriendsController')
										section.panel.panel-default
												header.panel-heading
													.input-group.text-sm
														input.input-sm.form-control(type='text', placeholder='Search', ng-model="userToFind")
														|                         
														.input-group-btn
															button.btn.btn-sm.btn-default.dropdown-toggle(type='button', ng-click="searchUser()")
																| Search 
												|                     
												ul.list-group.alt(ng-show="!searchBool")
													li.list-group-item(ng-repeat="friend in currentFriends | filter:userToFind")
														.media
															span.pull-left.thumb-sm
																img.img-circle(src="users/{{friend.username}}.jpg", onerror="this.src='users/default.jpg'" alt="{friend.username} pic")
															|                           
															.pull-right.text-success.m-t-sm
																i.fa.fa-circle
															|                           
															.media-body
																div
																	a(href='#')
																	b {{friend.username}} 
																	| ({{friend.firstName}} {{friend.lastName}})
												span(ng-show="loading")
													| Loading
												ul.list-group.alt(ng-show="searchBool")
													span(ng-show="!usersToAdd.length")
														| Found nothing !
													li.list-group-item(ng-repeat="user in usersToAdd")
														.media
															span.pull-left.thumb-sm
																img.img-circle(src='images/a0.png', alt='John said')
															|                           
															p.pull-right.text-success.m-t-sm
																button.btn.btn-sm.btn-info(ng-click="addFriend(user.username)")
																		i.fa.fa-plus.text
																		|     
																		span.text Add
															|                           
															.media-body
																div
																	a(href='#')
																	b {{user.username}} 
																	| ({{user.firstName}} {{user.lastName}})
												.col-lg-6.col-md-offset-3
														span(ng-repeat="alert in alerts")
															.alert.alert-success(ng-show="alert.success")
																button.close(type='button', data-dismiss='alert') &times;
																i.fa.fa-ok-sign
																strong Done!
																|  {{alert.msg}}
															.alert.alert-warning(ng-show="alert.error")
																button.close(type='button', data-dismiss='alert') &times;
																i.fa.fa-ok-sign
																strong Woopsie... 
																|  {{alert.msg}}
