div
  video#bgvid(autoplay='', loop='', poster="data:image/gif,AAAA")
    source#sourcevid(src='shining.webm', type='video/webm')
script(src='javascripts/randomBG.js')
script.
  $(document).ready(function(){
    $("#bgvid").animate({opacity: 1}, 2000);  
  });
section.vbox.allWindow
  header.bg-white.header.header-md.navbar.navbar-fixed-top-xs.box-shadow(style="text-align: center;")
    .navbar-header.aside-md.dk(style="display: inline-block;float: none")
      a.btn.btn-link.visible-xs(data-toggle='class:nav-off-screen,open', data-target='#nav,html')
        i.fa.fa-bars
      a.navbar-brand(href='/')
        img.m-r-sm(src='images/logoRoueLibre.png', alt='logo')
        // span.hidden-nav-xs
          | C I N E M A T E Q
  section#content.m-t-lg.wrapper-md.animated.fadeInDown
        .container.aside-xl
          section.m-b-lg
            header.wrapper.text-center
              strong Sign up to explore the amazing galaxy of cinema
            #message
              div(ng-if'message')
                h1.text-center.error-message {{message}}
            form(ng-submit='register()')
              .list-group
                .list-group-item
                  input.form-control.no-border(ng-model = 'user.username' type='text', name='username', placeholder='Username', required, autofocus)
                .list-group-item
                  input.form-control.no-border(ng-model = 'user.password' type='password', name='password', placeholder='Password', required)
                .list-group-item
                  input.form-control.no-border(ng-model = 'user.email' type='email', name='email', placeholder='Email', required)
                .list-group-item
                  input.form-control.no-border(ng-model = 'user.firstName' type='text', name='firstName' class='form-control', placeholder='First Name', required)
                .list-group-item
                  input.form-control.no-border(ng-model = 'user.lastName' type='text', name='lastName' class='form-control', placeholder='Last Name', required)
              // .checkbox.m-b
                label
                  input(type='checkbox')
                  |  Agree the 
                  a(href='#') terms and policy
              button.btn.btn-lg.btn-info.btn-block(type='submit') Sign up
              .line.line-dashed
              p.text-muted.text-center
                small Already have an account?
              a.btn.btn-lg.btn-default.btn-block(href='/signin') Sign in
