extends layout

block content
  section#content.m-t-lg.wrapper-md.animated.fadeInDown
        .container.aside-xl
          a.navbar-brand.block(href='/') Cinemateq
          section.m-b-lg
            header.wrapper.text-center
              strong Sign up to find interesting thing
            #message
              if message
                h1.text-center.error-message #{message}
            form(action='/signup', method='POST')
              .list-group
                .list-group-item
                  input.form-control.no-border(type='text', name='username', placeholder='Username', required, autofocus)
                .list-group-item
                  input.form-control.no-border(type='password', name='password', placeholder='Password', required)
                .list-group-item
                  input.form-control.no-border(type='email', name='email', placeholder='Email', required)
                .list-group-item
                  input.form-control.no-border(type='text', name='firstName' class='form-control', placeholder='First Name', required)
                .list-group-item
                  input.form-control.no-border(type='text', name='lastName' class='form-control', placeholder='Last Name', required)
              // .checkbox.m-b
                label
                  input(type='checkbox')
                  |  Agree the 
                  a(href='#') terms and policy
              button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign up
              .line.line-dashed
              p.text-muted.text-center
                small Already have an account?
              a.btn.btn-lg.btn-default.btn-block(href='/signin') Sign in
