extends layout


block content
  figure#bg
  script(src='javascripts/Vague.js')
  section.vbox
    header.bg-white.header.header-md.navbar.navbar-fixed-top-xs.box-shadow
      .navbar-header.aside-md.dk
        a.btn.btn-link.visible-xs(data-toggle='class:nav-off-screen,open', data-target='#nav,html')
          i.fa.fa-bars
        a.navbar-brand(href='')
          // img.m-r-sm(src='', alt='')
          span.hidden-nav-xs Cinemateq
        a.btn.btn-link.visible-xs(data-toggle='dropdown', data-target='.user')
          i.fa.fa-cog
      ul.nav.navbar-nav.navbar-right.m-n.hidden-xs.nav-user.user
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span.thumb-sm.pull-left.avatar.m-r
              img.dker(src="images/a0.png")
            if user
              | #{user.firstName}
            else
              | Invité
            b.caret 
          ul.dropdown-menu.animated.fadeInRight
            li
              if user
                a(href='') Profile
            li
              if user
                a(href='') My Cinegraphs
            li.divider
            li
              if user
                a(href='/signout') Logout
              else
                a(href='/signin') Sign in
    section.hbox.stretch
      section#content
          section.vbox
              section.scrollable
              script(type='text/ng-template', id='customTemplate.html').
                <a>
                  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
                  </a>
              .container-fluid(ng-controller='TypeaheadCtrl')
                  h4 Search your favorite {{asyncSelected.movieId}}
                  // p
                  // p
                  pre.
                    Model: {{asyncSelected | json}}
                  form(action='/search', method='POST')
                    .input-group.searchBarStyle
                      span.input-group-btn
                          button.btn.btn-lg.bg-white.btn-default(type="submit")
                            i.glyphicon.glyphicon-search
                      //.icon-addon.addon-lg
                      //  input#searchFormControl.form-control.input-lg(type='text', ng-model='asyncSelected', placeholder='Enter your favorite {{selectedItem}}.', typeahead='query for query in getLocation($viewValue)', typeahead-loading='loadingLocations', typeahead-min-length=4)
                      //  label.glyphicon.glyphicon-search(for='searchBarForm', rel='tooltip', title='email')
                      input(type='hidden', id='testSearch', name='testSearch', value="{{asyncSelected.movieId}}")
                      input#searchFormControl.form-control.input-lg( autocomplete='off', type='text', ng-model='asyncSelected', placeholder='Enter your favorite {{selectedItem}}.'
                                                                    , typeahead='query as query.name for query in getLocation($viewValue)',
                                                                    , typeahead-wait-ms=350, typeahead-loading='loadingLocations')
                      span.input-group-btn
                          button.btn.btn-lg.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                              span.dropdown-label
                                  | Movie
                          ul.dropdown-menu.dropdown-select.pull-right.dropdownSearch
                              li.active(ng-click="OnItemClick('movie')")
                                  a(href='#')
                                      input(type='radio', name='type', checked='')
                                      | Movies
                              li(ng-click="OnItemClick('person')")
                                  a(href='#')
                                      input(type='radio', name='type')
                                      | Persons
                  p.vertical-align(ng-show='loadingLocations')
                      | Searching 
                      i.glyphicon.glyphicon-refresh(ng-show='loadingLocations')
