//.bgTest
//  figure#bg
div
  video#bgvid(autoplay='', loop='', poster="data:image/gif,AAAA")
    source#sourcevid(src='shining.webm', type='video/webm')
script(src='javascripts/Vague.js')
script(src='javascripts/randomBG.js')
script.
  $(document).ready(function(){
    $("#bgvid").animate({opacity: 1}, 2000);  
  });
script(type='text/ng-template', id='templateAuto').
  <a>
    <img ng-src="http://images.cinefacts.de/Inception-Cover-200120.jpg" width="64">
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
section.vbox.allWindow
  header.bg-white.header.header-md.navbar.navbar-fixed-top-xs.box-shadow(style="text-align: center;")
    .navbar-header.aside-md.dk(style="display: inline-block;float: none")
      a.btn.btn-link.visible-xs(data-toggle='class:nav-off-screen,open', data-target='#nav,html')
        i.fa.fa-bars
      a.navbar-brand(href='/')
        img.m-r-sm(src='images/logoRoueLibre.png', alt='')
        // span.hidden-nav-xs
          | C I N E M A T E Q
      a.btn.btn-link.visible-xs(data-toggle='dropdown', data-target='.user')
        i.fa.fa-cog
    ul.nav.navbar-nav.navbar-right.m-n.hidden-xs.nav-user.user(style="right: 0;display: inline-block;position: absolute;")
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          span.thumb-sm.pull-left.avatar.m-r
            img.dker(src="images/a0.png")
          span(ng-if='currentUser')
            | {{currentUser.firstName}}
          span(ng-if='currentUser == undefined')
            | Invité
          b.caret 
        ul.dropdown-menu.animated.fadeInRight
          li(ng-if='currentUser')
            a(href='/profile') Profile
          li(ng-if='currentUser')
            a(href='/friends') Friends
          li(ng-if='currentUser')
            a(href='/mycinegraph') My Cinegraphs
          li.divider
          li
            a(ng-click='logout()' ng-if='currentUser') Logout
            a(href='/signin' ng-if="currentUser == undefined") Sign in
  //div.bg-black(style="width:100%; height:100%;")
  //  video#bgvid(autoplay='', loop='', poster='')
  //    source#sourcevid(src='shining.webm', type='video/webm')
  section#searchBarPosition.hbox.stretch
    section#content
        section.vbox
            section
                form(ng-submit='submitSearchQuery(false)')
                  .input-group.searchBarStyle.centerWidth.animated.fadeInUp
                    //.icon-addon.addon-lg
                    //  input#searchFormControl.form-control.input-lg(autocomplete='off', type='text', ng-model='asyncSelected', placeholder='Enter your favorite {{selectedItem}}.', typeahead='query for query in getLocation($viewValue)', typeahead-loading='loadingLocations', typeahead-min-length=4)
                    //  label.glyphicon.glyphicon-search(for='searchBarForm', rel='tooltip', title='email')
                    input(type='hidden', name='id', value="{{asyncSelected.thisId}}")
                    input#searchFormControl.form-control.input-lg(required="", autocomplete='off', type='text',
                      ng-model='asyncSelected', placeholder='Enter your favorite {{selectedItem}}.',
                      typeahead='query as query.name for query in getLocation($viewValue)',
                      typeahead-wait-ms=350, typeahead-loading='loadingLocations', typeahead-min-length=2)
                    span.input-group-btn
                        button.btn.btn-lg.bg-white.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.dropdown-label
                                | Movie
                        ul.dropdown-menu.dropdown-select.dropdownSearch
                            li.active(ng-click="OnItemClick('movie')")
                                a(href='#')
                                    input(type='radio', name='type', checked='')
                                    | Movies
                            li(ng-click="OnItemClick('person')")
                                a(href='#')
                                    input(type='radio', name='type')
                                    | Persons
                        button.btn.btn-lg.bg-white.btn-default.btn-submit-search(type="submit")
                          i.glyphicon.glyphicon-search
                .loader(ng-show='loadingLocations')
                .no-results(ng-show='noResults')
                  | Oops! No results found, please check your spelling and try again.
