extends layout

block content
  section#content.m-t-lg.wrapper-md.animated.fadeInUp
      .container.aside-xl
        a.navbar-brand.block(href='/') Cinemateq
        section.m-b-lg
          header.wrapper.text-center
            strong Sign in to get in touch
          div(ng-controller="UserCtrl")
            form(ng-submit="submit()")
              .list-group
                .list-group-item
                  input.form-control.no-border(ng-model='user.username' name='username', type='text', placeholder='Username')
                |             
                .list-group-item
                  input.form-control.no-border(ng-model='user.password' name='password', type='password', placeholder='Password')
              button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
            .text-center.m-t.m-b
              a(href='#')
                small Forgot password?
            .line.line-dashed
            p.text-muted.text-center
              small Do not have an account?
            a.btn.btn-lg.btn-default.btn-block(href='/signup') Create an account
