div
  video#bgvid(autoplay='', loop='', poster="data:image/gif,AAAA")
    source#sourcevid(src='shining.webm', type='video/webm')
script(src='javascripts/randomBG.js')
script.
  $(document).ready(function(){
    $("#bgvid").animate({opacity: 1}, 2000);  
  });
section.vbox.allWindow
  section.vbox.allWindow
    header.bg-white.header.header-md.navbar.navbar-fixed-top-xs.box-shadow
      .navbar-header.aside-md.dk.centered-navbar
        //a.btn.btn-link.visible-xs(data-toggle='class:nav-off-screen,open', data-target='#nav,html')
          i.fa.fa-bars
        a.navbar-brand(href='/')
          img.m-r-sm(src='images/logoRoueLibre.png', alt='')
          // span.hidden-nav-xs
            | C I N E M A T E Q
  section#content.m-t-lg.wrapper-md.animated.fadeInUp
    .container.aside-xl
      section.m-b-lg
        header.wrapper.text-center(style="margin-top: 40px;")
          strong.shadowText "I'm Going on an Adventure!" <br> – Bilbo Baggins, The Hobbit (2012)
          #message
            div(ng-if'message')
              h2.text-center.error-message {{message}}
          form(ng-submit="signin()")
            .list-group
              .list-group-item
                input.form-control.no-border(ng-model='user.username' name='username', type='text', placeholder='Username')
              |             
              .list-group-item
                input.form-control.no-border(ng-model='user.password' name='password', type='password', placeholder='Password')
            button.btn.btn-lg.btn-block.btn-info(type='submit') Sign in
          //.text-center.m-t.m-b
            a(href='#')
              small Forgot password?
          .line.line-dashed
          p.text-muted.text-center
            small.shadowText Do not have an account?
          a.golden-btn.btn-lg.btn-default.btn-block(href='/register') Create an account
