.row.m-n
        .col-sm-4.col-sm-offset-4
          .text-center.m-b-lg
            h1.h.text-white.animated.fadeInDownBig Not authorized
          |         
          .list-group.bg-info.auto.m-b-sm.m-b-lg
            a.list-group-item(href='/')
              i.fa.fa-chevron-right.icon-muted
              |             
              i.fa.fa-fw.fa-home.icon-muted
              |  Goto homepage
