body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a {
  color: #00B7FF;
}

.panel {
	width: 350px;
	display: inline-block;
	vertical-align: top;
}

.info {
	padding-left: 10px;
}

#graph {
	display: inline-block;
}

.connect {
	padding-bottom: 10px;
	border-bottom: 2px solid black;
}
