body {
}

a {
  color: #00B7FF;
}

.panel {
	width: 350px;
	display: inline-block;
	vertical-align: top;
}

.info {
	padding-left: 10px;
}

#graph {
	display: inline-block;
}

.connect {
	padding-bottom: 10px;
	border-bottom: 2px solid black;
}

img {
	width: 128px;
}

i.fa-heart, i.fa-plus, i.fa-eye {
	-webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

i.fa-heart:hover {
	color: #cc1628;
}

i.fa-plus:hover {
	color: white;
}

i.fa-eye:hover {
	color: #159a78;
}

#content {
	height: 500px;
}