body, html {
  font: 14px FuturaLT, "Open Sans", Helvetica, Arial, sans-serif;
  height: 100%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.full-height {
  height: 100%;
}

/* HEADER */

/* For the search page, logo is centered */
.centered-navbar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}

.header-md .navbar-brand img {
    max-height: 40px !important;
    /*width: 200px !important;*/
}

.header .right-menu {
  float: right;
  margin: 12px;
}

.connect {
	padding-bottom: 10px;
	border-bottom: 2px solid black;
}

.navbar-form .input-group > .form-control.search-top-menu {
  width: 300px;
}

.navbar-form .input-group > ul.dropdown-menu a {
  white-space: normal;
}

/* LEFT PANEL */

.on-top {
  z-index: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-shadow-bottom, .bg-shadow-top {
  background-color: black;
  width: 100%;
  position: absolute;;
}

.bg-shadow-top {
  top: -30px;
  box-shadow: 0px 0px 25px 30px rgba(0,0,0,1);
}

.bg-shadow-bottom {
  bottom: 0;
  box-shadow: 0px 0px 25px 30px rgba(0,0,0,1);
}

.node-details img {
	width: 100%;
}

i.fa-heart, i.fa-plus, i.fa-eye {
	-webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.like-btn:hover i {
	color: #cc1628;
}

.add-cinegraph-btn:hover i {
	color: white;
}

.btn-default.add-cinegraph-btn:hover i {
  color: black;
}

.seen-btn:hover i {
	color: #159a78;
}

.global-score {
  padding-left: 35px;
  padding-right: 0;
}

.left-panel-title {
  background-color: #C9262F;
  width: 100%;
  height: 34px;
  padding: 5px 5px 5px 20px;
  color: #FFF;
}

.text-left-align {
  text-align: left !important;
}

/*aside#nav.aside-xl.bg-black.hidden-print.hidden-xs.full-height.nav-off-screen {
  width: 50%;
}

.nav-off-screen + * {
  transform: translate3d(50%, 0px, 0px);
}*/

/* SEARCH PAGE */

.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.bgTest {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    opacity: 0;
}

#blackBG {
  width: 100%;
  height: 100%
  background-color: black;
}

#bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-position: center;
    /* background-image: url('http://image.tmdb.org/t/p/w1000/xu9zaAevzQ5nnrsXN6JcahLnG4i.jpg'); */
  /*  background-image: url('http://image.tmdb.org/t/p/w1000/tv8J6uCTKsTlASa8luJqrFiJlBX.jpg');*/
    background-size: cover !important;
    position: absolute;
}


#unauthorizedpage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url('/images/gandalf.jpg');
    background-size: cover !important;
    position: absolute;
}

@media(min-width: 768px) {
  .searchBarStyle {
    width: 50%;
  }
}


.centerWidth {
  margin: auto;
  text-align: center;
}

#searchBarPosition {
  position: absolute;
  top: 40%;
  /*margin-top: 250px;*/
}

.allWindow {
  min-height: 100%;
}

.dropdownSearch {
  min-width: 100px;
}

@media(max-width: 767px) {
  .input-lg {
    font-size: 14px;
  }
}

.shadowText {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.goldenShadowText {
  color: #a97819;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.golden-btn {
  color: white !important;
  background-color: #a97819;
  border-color: #a97819;
}

.golden-color {
  color:#a97819 !important;
}

.red-color {
  color: #C9262F !important;
}

.golden-btn:hover,.golden-btn:focus {
  color: white !important;
  background-color: #BB8A2C;
  border-color: #BB8A2C;
}


/* Icon in an input */
.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

.community-element {
    height: calc(100% - 525px); /* Size of upper pannel (+ margin) */
    position: absolute;
    width: 100%;
}

/* COMMUNITY PANEL */

.community-list{
  height: calc(100% - 35px); /* Size of 'Community' element */
  overflow-y: scroll;
}

.btn-sm.btn-icon.btn-invite-rate {
  width: 24px;
  line-height: 1;
}

.no-results {
  font-size: 15px;
  margin: auto;
  width: 50%;
  text-align: center;
  color: white;
  margin-top: 5px;
}

/* RIGHT PANEL - FILTER MENU */

.filter-menu .panel-body {
  font-size: 12px;
}

.filter-menu .form-group {
  margin-bottom: 5px;
}

.filter-menu .switch {
  padding-top: 7px;
}

.filter-menu .switch span {
  width: 40px;
  height: 19px;
}

.filter-menu .switch span:after {
  width: 15px;
  height: 16px;
}

.filter-menu .switch input:checked + span:after {
  left: 23px;
}

.filter-menu .switch.actor input:checked + span {
  background-color: #319ef1;
}

.filter-menu .switch.director input:checked + span {
  background-color: #8E44AD;
}

.filter-menu .switch.producer input:checked + span {
  background-color: #27AE60;
}

.filter-menu .switch.writer input:checked + span {
  background-color: #F1C40F;
}

.filter-menu .switch.editor input:checked + span {
  background-color: #e33244;
}

.filter-menu .switch.music-composer input:checked + span {
  background-color: #00D6CE;
}

.filter-menu .switch.dir-photography input:checked + span {
  background-color: #FC6E51;
}

.filter-menu .switch.cos-designer input:checked + span {
  background-color: #EC87C0;
}

.filter-menu .switch.prod-designer input:checked + span {
  background-color: #AC92EC;
}

.graph-pagination-btn {
  margin-top: -11px;
  margin-left: 8px;
}

/* MYCINEGRAPH SINGLE VIEW */

.myCinegraphSingle .cinegraph-actions i.fa {
  margin-left: 10px;
}


/* STAR SYSTEM */
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 150px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}

/* GRAPH */

#graph {
  overflow: hidden;
}

#graph canvas{
  position: absolute;
  top: 0;
}
.canvasNodeFilter {
  position: absolute;
  z-index: 1;
  width: 36px;
  height: 36px;
}
.canvasNodeFilterLeft, .canvasNodeFilterRight {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 2px;
  padding-top: 8px;
  border-radius: 18px 0 0 18px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.canvasNodeFilterRight{
  border-radius: 0 18px 18px 0;
}

#canvasPathPanel {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: #E7E7E7;
  color: #4B4B4B;
  top:0;
  padding-left: 15px;
}

.canvasBackground {
  width:100%;
  height:100%;
  position: relative;
  top:0;
  filter:blur(15px);
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  transform: scale(1.05);
}
